<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Profile</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Profiles">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="jumbotron col-md-12">
      <div class="row">
        <div class="col-md-3">
          <img src="https://avatars3.githubusercontent.com/u/829627?v=3&s=460" />
        </div>
        <div class="col-md-7">
          <!--<h4 class="display-3">Prashant Andani</h4>-->
        </div>
      </div>
      <p class="lead">Prashant Andani</p>

      <hr class="my-4">
      <p>
        <i class="fa fa-globe"></i>
        <a href="http://prashant-andani.github.io">http://prashant-andani.github.io</a>
        <i class="fa fa-envelope"></i>
        <a href="">prashant.andani@gmail.com</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <github></github>
    </div>
    <div class="col-md-4">
      <stackoverflow></stackoverflow>
    </div>
    <div class="col-md-4">
      <gitbooks></gitbooks>
    </div>
  </div>
</div>
<!--<md-grid-list cols="4" rowHeight="500px">
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>
          <h3>GitHub</h3>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <p>
            Public Repos: <strong>{{githubData?.public_repos}}</strong>&nbsp;&nbsp;&nbsp;
            Public Gists: <strong>{{githubData?.public_gists}}</strong>
          <ul *ngFor="let repo of repoList; let i = index">
            <li *ngIf="i < 5">{{repo.name}}</li>
          </ul>
          </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>Following: <strong>{{githubData?.following}}</strong></button>
        <button md-button>Followers: <strong>{{githubData?.followers}}</strong></button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title><h3>Stackoverflow <md-icon>card_membership</md-icon>{{soData?.reputation}}
        </h3></md-card-title>
      </md-card-header>
      <md-card-content>
        <p>
          <span>
            <br/>
          </span>
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>star_rate</md-icon> {{soData?.badgeCounts.gold}}</button>
        <button md-button><md-icon>star_rate</md-icon> {{soData?.badgeCounts.silver}}</button>
        <button md-button><md-icon>star_rate</md-icon> {{soData?.badgeCounts.bronze}}</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>-->