/* You can add global styles to this file, and also import other style files */
.stats:last-child{
    border-right: 0px;
}
.stats {
    display: block;
    float: left;
    width: 33.333333%;
    text-align: center;
    border-right: 1px solid #EEEEEE;
}