<!-- Stackoverflow -->
<div class="card">
    <div class="card-holder-div">
        <span class="card-holder"></span>
    </div>
  <div class="card-block">
    <h3 class="card-title"><i class="fa fa-stack-overflow"></i> Stackoverflow</h3>
    <img src="{{soData?.data.profile_image}}" class="rounded-circle img-responsive" style="height: 70px;"/>
    <div style="text-align:center">{{soData?.data.display_name}}</div>
    
  </div>
  <div class="stats-container">
      <div class="stats">
        <h4>{{soData?.data.question_count}}</h4>
        <p>Questions</p>
      </div>
      <div class="stats">
        <h4>{{soData?.data.answer_count}}</h4>
        <p>Answers</p>
      </div>
      <div class="stats">
          <h4>{{soData?.data.view_count}}</h4>
          <p>Views</p>
        </div>
    </div>
    
  <div class="stats-container">
    <div class="stats custom-stats">
      <h4><i class="fa fa-star gold fa-lg"></i> </h4>
      <p>{{soData?.badgeCounts.gold}}</p>
    </div>
    <div class="stats">
      <h4><i class="fa fa-star silver fa-lg"></i></h4>
      <p>{{soData?.badgeCounts.silver}}</p>
    </div>
    <div class="stats">
      <h4><i class="fa fa-star bronze fa-lg"></i></h4>
      <p>{{soData?.badgeCounts.bronze}}</p>
    </div>
  </div>
</div>